.search-overlay {
  position: fixed;
  background: white;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  overflow: hidden;
  transition: all 1.5s ease;
}
