.big-container-subCat {
  position: relative;
  min-height: 150vh;
  overflow: hidden;

  .dim {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 10;
    opacity: 0.5;
    transition: all 1s ease-in-out;
  }
  .fullscreen-circle-enter {
    position: fixed;
    bottom: 20%;
    left: 50%;
    width: 142vmax;
    height: 142vmax;
    border-radius: 50%;
    background-color: var(--color3);
    z-index: 100;
  }

  .fullscreen-circle-exit {
    position: fixed;
    bottom: 100%;
    left: 100%;
    width: 142vmax;
    height: 142vmax;
    border-radius: 50%;
    background-color: var(--color3);
    z-index: 100;
  }
  .subCategory {
    padding: 0 1rem;
    transition: all 1.5s ease;
    @media (max-width: 500px) {
      padding: 0 0.5rem;
    }

    .navbarSeperator {
      height: 9rem;
    }

    .circle-fixed-wrapper {
      position: absolute;
      top: -34rem;
      right: 29rem;
      .circle {
        position: fixed;
        width: 45rem;
        background-color: var(--color2);
        border-radius: 50%;
        z-index: -2;

        &::before {
          content: "";
          display: block;
          padding-bottom: 100%;
        }

        @media (max-width: 800px) {
          width: 22rem;
          top: -9rem;
          right: -5rem;
        }
      }
    }

    .breadcrumbs {
      font-family: "OGG Roman";
      font-size: min(1.2rem, 1vw);
      margin-bottom: 1rem;

      a {
        color: var(--color5);
        text-decoration: none;
        transition: font-size 0.3s ease-in-out;
        &:hover {
          font-size: 1.2rem;
        }
      }

      p {
        display: inline-block;
        &:last-child {
          color: gray;
        }
      }

      @media (max-width: 800px) {
        font-size: 0.8rem;
        margin-bottom: 2rem;
      }
    }
    .flex-1 {
      margin-bottom: 2.5rem;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
    }

    .flex-2 {
      margin-bottom: 2rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .headline {
      font-size: min(8rem, 6vw);
      z-index: -1;
      -webkit-text-stroke: 1.2px;
      text-transform: uppercase;
      margin-top: -1.8rem;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      div {
        display: inline-block;
      }
      @media (max-width: 800px) {
        font-size: 4.5rem;
        margin-left: 0.7rem;
      }

      .for-babes {
        @media (max-width: 500px) {
          display: none;
        }
      }
    }

    .stock {
      font-family: "OGG Roman";
      font-size: min(2.9rem, 2.4vw);
      letter-spacing: 0.1rem;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

      div {
        display: inline-block;
      }

      @media (max-width: 800px) {
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: -1.2rem;
        margin-right: 1rem;
        span {
          display: none;
        }
      }
    }

    .filters {
      display: flex;
      font-size: min(1.2rem, 1vw);
      font-weight: 700;
      align-items: center;
      border: 0px;
      cursor: pointer;
      background-color: transparent;

      .filters-icon {
        font-size: 1.6vw;
        font-size: min(1.8rem, 1.6vw);
        @media (max-width: 800px) {
          font-size: 1rem;
        }
      }

      @media (max-width: 800px) {
        font-size: 0.8rem;
        margin-left: 1rem;
      }
    }

    .sort {
      font-size: min(1.2rem, 1vw);
      color: rgb(189, 189, 189);
      font-weight: 400;
      span {
        color: black;
        font-weight: 700;
      }
      @media (max-width: 800px) {
        font-size: 0.8rem;
        margin-right: 1rem;
      }
    }

    .products {
      max-width: 2200px;
      margin: 0 auto;
      display: grid;
      position: relative;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 3.5rem;
      padding: 0 1rem;
      margin-bottom: 5rem;

      @media (max-width: 1024px) {
        grid-template-columns: repeat(4, 1fr);
      }
      @media (max-width: 800px) {
        grid-template-columns: repeat(3, 1fr);
        padding: 0 2rem;
        grid-gap: 1.5rem;
      }
      @media (max-width: 500px) {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 0rem;
      }
      @media (max-width: 370px) {
        grid-template-columns: repeat(1, 1fr);
        padding: 0 0rem;
      }
      .filter-overlay {
        position: absolute;
        background: white;
        z-index: 1000;
        top: -3px;
        left: 0;
        overflow: hidden;
        padding: 0 2rem;
        padding-top: 1rem;
        transition: all 1s ease;
        // max-width: 40vw;

        .content {
          display: grid;
          .subcategories-headline {
            font-size: 0.9vw;
          }
          .subcategories-buttons {
            padding-top: 2rem;
            .subcategory-button {
              display: block;
              font-size: min(1.2rem, 1vw);
              margin-bottom: 1.3rem;
              label {
                font-size: 1rem;
                margin-left: 0.8rem;
                cursor: pointer;
              }
              input {
                appearance: none;
                -webkit-appearance: none;
                width: 15px;
                height: 15px;
                background: white;
                &:checked {
                  background: black;
                }
              }
            }
          }
          .color-headline {
            font-size: 0.9vw;
            padding-left: 2rem;
          }
          .color-buttons {
            padding-top: 2rem;

            .color-button {
              display: inline-block;
              font-size: min(1.2rem, 1vw);
              margin-bottom: 1.3rem;
              input[type="checkbox"] {
                display: none;
              }

              label {
                display: inline-block;
                margin-bottom: 1.5rem;
                margin-right: 1.7rem;
                width: 1.7rem;
                height: 1.7rem;
                text-align: center;
                font-size: 0.8rem;
                font-size: min(0.8rem, 0.7vw);
                background-color: black;
                outline: 0.01rem solid black;
                cursor: pointer;
                transition: all 0.2s;
                &:hover {
                  outline: 3.5px solid black;
                }
              }
              input[type="checkbox"]:checked + label {
                border: 3px solid white;
              }
            }
          }
          .size-headline {
            font-size: 0.9vw;
            padding-left: 2rem;
          }
          .size-buttons {
            padding-top: 2rem;

            .size-button {
              display: inline-block;
              font-size: min(1.2rem, 1vw);
              margin-bottom: 1.3rem;
              input[type="checkbox"] {
                display: none;
              }

              label {
                display: inline-block;
                margin-bottom: 1.5rem;
                margin-right: 1.7rem;
                width: 1.7rem;
                height: 1.7rem;
                text-align: center;
                font-size: 0.8rem;
                font-size: min(0.8rem, 0.7vw);
                background-color: black;
                outline: 0.01rem solid black;
                cursor: pointer;
                transition: all 0.2s;
                &:hover {
                  outline: 3.5px solid black;
                }
              }
              input[type="checkbox"]:checked + label {
                border: 3px solid white;
              }
            }
          }
        }
      }
    }

    .load-more {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 5rem;
      animation-duration: 4s;
      animation-name: fadeIn;

      button {
        font-size: min(1.2rem, 1vw);
        font-weight: 700;
        padding: 1.5rem 5rem;
        border: 1px solid black;
        background-color: transparent;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
          background-color: black;
          color: white;
        }
        @media (max-width: 1025px) {
          font-size: 1rem;
          padding: 1rem 3rem;
        }

        @media (max-width: 800px) {
          font-size: 0.8rem;
          padding: 1rem 3rem;
        }
      }
    }
    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      80% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }
  }
}
