.home-grid {
  overflow: hidden;
  display: grid;
  grid-template-columns: 17.5% 30.6% 14.1% 30.7% 7.4%;
  grid-template-rows: 15vh 32vh 5.7vh 47.3vh;

  @media (max-width: 1024px) {
    grid-template-columns: 53% 47%;
    grid-template-rows: 15vh 24vh 26vh 35vh;
  }
  @media (max-width: 500px) {
    grid-template-columns: 100%;
    grid-template-rows: 13vh 26.5vh 51vh 9.5vh;
  }
  a {
    all: unset;
    cursor: pointer;
  }

  .fullscreen-circle-enter {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 142vmax;
    height: 142vmax;
    border-radius: 50%;
    background-color: var(--color3);
    z-index: 100;
  }

  .fullscreen-circle-exit {
    position: absolute;
    bottom: 100%;
    left: 100%;
    width: 142vmax;
    height: 142vmax;
    border-radius: 50%;
    background-color: var(--color3);
    z-index: 100;
  }

  .circle-text {
    grid-column: 1/2;
    grid-row: 4;
    font-family: "OGG Roman";
    font-size: min(2.5rem, 2.1vw);
    margin-left: 7rem;
    align-self: center;
    animation: animate 10s linear infinite;
    transform-origin: 0 230px;

    @media (max-width: 1024px) {
      grid-row: 3;
      transform-origin: 0 150px;
      margin-left: 3rem;
      margin-top: -14rem;
    }
    @media (max-width: 500px) {
      grid-row: 2;
      align-self: center;
      justify-self: end;
      transform-origin: 0 100px;
      margin-top: 0rem;
      font-size: 4.1vw;
      z-index: -1;
    }

    @keyframes animate {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
  .circle-text-inside {
    grid-column: 1;
    width: 70%;
    margin-left: 1rem;
    margin-bottom: 3.7rem;
    grid-row: 4;
    font-size: min(1rem, 0.8vw);
    align-self: end;
    justify-self: start;
    color: rgb(202, 202, 202);

    @media (max-width: 1024px) {
      grid-column: 1;
      grid-row: 3;
      font-size: 1.9vw;
      width: 30%;
    }
    @media (max-width: 500px) {
      display: none;
    }
  }

  .image-first {
    grid-column: 2;
    grid-row: 1/3;

    div {
      height: 100%;
      background: url("/l1v2.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
    @media (max-width: 1024px) {
      display: none;
    }
  }
  .image-second {
    grid-column: -3;
    grid-row: 4;

    div {
      height: 100%;
      background: url("/r1v2.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }

    @media (max-width: 1024px) {
      grid-column: 2;
      grid-row: 4;
    }
    @media (max-width: 500px) {
      grid-row: 3;
      grid-column: 1;
    }
  }

  .links {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    list-style: none;
    gap: 0.85rem;
    align-self: start;
    flex-direction: column;
    justify-content: center;
    margin-left: 0.8rem;
    font-size: 1rem;
    color: rgb(202, 202, 202);
    line-height: 1.6rem;
    a {
      transition: all 0.3s ease-in-out;
      &:hover {
        color: #000;
        font-size: 1.1rem;
      }
    }
    @media (max-width: 1024px) {
      display: none;
    }
    @media (max-height: 900px) {
      font-size: 0.8rem;
      line-height: 1.1rem;
      a {
        &:hover {
          color: var(--color5);
          font-size: 0.9rem;
        }
      }
    }
  }

  .headline {
    grid-column: 1 / span 2;
    grid-row: 4;
    margin-top: -1.4rem;
    margin-left: 0.5rem;
    margin-right: -3rem;
    font-size: min(7.1rem, 5.9vw);
    letter-spacing: 0.9px;
    position: relative;
    white-space: nowrap;
    div {
      display: inline-block;
    }
    h1 {
      clip-path: polygon(0 17%, 100% 17%, 100% 90%, 0% 90%);
    }

    .who-brunch {
      margin-left: 2rem;
      font-weight: 400;
      font-size: min(4.5rem, 3.7vw);
      font-family: "GT America Regular";
      @media (max-width: 1024px) {
        font-size: 6vw;
        margin-top: -4.4rem;
      }
    }
    .who {
      display: inline-block;
      position: absolute;
      top: 3rem;
      @media (max-width: 1024px) {
        margin-top: -1.4rem;
      }
      @media (max-width: 500px) {
        margin-top: -2.4rem;
      }
    }
    @media (max-width: 1024px) {
      grid-column: 1/3;
      grid-row: 2;
      font-size: 9.5vw;
      letter-spacing: 4.9px;
    }
    @media (max-width: 500px) {
      margin-top: 0;
      grid-column: 1;
      font-size: 8.5vw;
      margin: 0 auto;
    }
  }

  .socials {
    grid-column: 5;
    grid-row: 4;
    justify-self: end;
    align-self: end;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    font-size: min(1.8rem, 1.5vw);
    margin-right: 1.3rem;
    margin-bottom: 2.8rem;

    @media (max-width: 1024px) {
      display: none;
    }
  }

  .deals {
    grid-column: 4/5;
    grid-row: 2;
    display: grid;
    grid-template-columns: 50% 50%;
    .deal1-why-did-i,
    .deal1-pick-this-design,
    .deal2-why-did-i,
    .deal2-pick-this-design,
    .deal3-designer-on-crack {
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
      overflow: hidden;
    }

    h5 {
      font-size: min(1.5rem, 1.2vw);
      font-family: "GT America bold";
      margin-bottom: 0.2rem;
    }
    p {
      font-family: "OGG Roman";
      font-size: min(1.3rem, 1.1vw);
    }
    .deal1 {
      grid-column: 1;
      grid-row: 1;
      align-self: start;
      justify-self: start;
      margin-top: 1rem;
      p {
        margin-top: 0.5rem;
      }
      @media (max-width: 1024px) {
        margin-top: 0;
      }
    }
    .deal2 {
      grid-column: 1/3;
      grid-row: 3;
      align-self: end;
      justify-self: center;
      margin-bottom: -0.5rem;
      margin-left: 1rem;
      @media (max-width: 1024px) {
        justify-self: start;
        margin-bottom: 2.2rem;
        margin-left: 0;
      }
    }
    .deal3 {
      grid-column: 2;
      grid-row: 2;
      align-self: start;
      justify-self: end;
      margin-top: -1rem;
      p {
        margin-left: 2.4rem;
      }
    }
    @media (max-width: 1024px) {
      grid-column: 2;
      grid-row: 3;
      h5 {
        font-size: 2.7vw;
        margin-bottom: 0.2rem;
      }
      p {
        font-size: 1.6vw;
      }
    }
    @media (max-width: 500px) {
      display: none;
    }
  }

  .button {
    grid-column: 2 / 4;
    grid-row: 4;
    z-index: 2;
    align-self: end;
    justify-self: end;
    width: 100%;
    display: flex;
    justify-content: end;

    a {
      justify-self: end;
      display: inline-block;
      background-color: black;
      border: none;
      padding: 3rem 7.5rem;
      color: var(--color1);
      text-align: center;
      text-decoration: none;
      letter-spacing: 0.6px;
      font-size: min(1.6rem, 1.3vw);
      @media (max-width: 1624px) {
        padding: 2.5rem 6.1rem;
      }
      @media (max-width: 1024px) {
        padding: 2.5rem 12rem;
        font-size: 2.3vw;
        white-space: nowrap;
      }
      @media (max-width: 500px) {
        font-size: 4vw;
        height: 100%;
      }
    }

    @media (max-width: 1024px) {
      grid-column: 1/2;
      width: 100%;

      grid-row: 4;
    }
    @media (max-width: 500px) {
      height: 100%;
    }
  }

  .circle {
    grid-column: 4/6;
    grid-row: 4;
    justify-self: center;
    align-self: end;
    margin-bottom: 10%;
    margin-left: -8rem;
    width: min(42vw, 50rem);
    background-color: var(--color3);
    border-radius: 50%;
    z-index: -2;
    &::before {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
  }
}
