.cart-overlay {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  width: 28%;
  height: 100vh;
  z-index: 101;
  background-color: #fff;
  transition: all 1.5s ease;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  .header {
    font-size: 2.7vw;
    display: flex;
    justify-content: center;
    margin-top: 2.4rem;
    margin-bottom: 6rem;
  }

  .items {
    padding: 0 0.5rem;
    .item {
      display: grid;
      grid-template-columns: 25% 75%;
      padding-bottom: 4rem;
      .image {
        img {
          margin-left: 1rem;
          grid-column: 1;
          width: 90%;
          height: 100%;
          object-fit: cover;
        }
      }
      .details {
        margin-left: 2.3rem;
        grid-column: 2;
        display: flex;
        flex-direction: column;
        .name-remove {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          margin-right: 1rem;
          .name {
            max-width: 90%;
            a {
              margin-bottom: 0.5rem;
              color: var(--color5);
              display: block;
              text-decoration: none;
              font-size: 1vw;
              -webkit-text-stroke: 0.5px;
              &:hover {
                text-decoration: underline;
              }
            }
          }
          .remove {
            all: unset;
            cursor: pointer;
            opacity: 0.5;
            transition: opacity 0.3s ease;
            margin-top: 0.4rem;
            &:hover {
              opacity: 1;
            }
          }
        }
        .price {
          margin-bottom: 1rem;
          font-size: 0.9vw;
          font-weight: 800;
        }

        .size,
        .color,
        .quantity {
          font-size: 0.7vw;
          margin-bottom: 0.5rem;
        }
      }
    }
  }
  .total-checkout {
    width: 100%;
    margin-top: auto;
    .cart-total {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2rem;
      font-size: 1.1vw;
      padding: 0 3rem;
    }
    .cart-checkout {
      all: unset;
      cursor: pointer;
      display: inline-block;
      background-color: var(--color5);
      color: var(--color1);
      padding: 3rem 0rem;
      width: 100%;
      text-align: center;
      font-size: 1.3vw;
      transition: all 0.5s ease;
      &:hover {
        background-color: var(--color4);
        color: var(--color5);
      }
    }
  }
}
