.product {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 73% auto 8%;
  .img {
    grid-row: 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    gap: 1rem;
  }
  .img-loader {
    grid-row: 2;
    width: 100%;
    height: 200%;
    background-color: white;
    gap: 1rem;
  }
  .name {
    grid-row: 2;
    font-family: "OGG Roman";
    font-size: min(1.5rem, 1.3vw);
    font-weight: 500;
    -webkit-text-stroke: 0.3px;

    margin-top: 1.5rem;

    @media (max-width: 800px) {
      font-size: 0.8rem;
    }
  }
  .flex {
    display: flex;
    align-items: flex-end;
    margin-bottom: 3rem;
    @media (max-width: 2100px) {
      margin-bottom: 0rem;
    }
  }
  .price {
    font-size: min(1.8rem, 1.5vw);
    -webkit-text-stroke: 0.4px;
    font-weight: 800;
    margin-right: auto;

    @media (max-width: 800px) {
      font-size: 1rem;
      font-weight: 800;
    }
  }
  .wishlist {
    all: unset;
    font-size: min(1.4rem, 1.2vw);
    margin-right: 2rem;
    margin-bottom: 0.5rem;
    @media (max-width: 800px) {
      font-size: 1rem;
      margin-right: 1rem;
      margin-bottom: 0rem;
    }
  }
  .cart {
    all: unset;
    cursor: pointer;
    font-size: min(3rem, 2.5vw);
    background-color: black;
    color: rgb(227, 227, 227);
    text-align: center;
    width: min(3rem, 2.5vw);
    height: min(3rem, 2.5vw);
    @media (max-width: 800px) {
      font-size: 1.4rem;
      width: 1.4rem;
      height: 1.4rem;
    }
  }
}
