.nav-list {
  list-style: none;
  display: grid;
  position: absolute;
  grid-template-columns: 62.4% 14% 7% 12% 4.6%;
  width: 98%;
  margin-top: 2.3rem;
  z-index: 10;
  a {
    color: var(--color5);
  }
  @media (max-width: 1024px) {
    grid-template-columns: 51% 15% 12% auto;
    margin-top: 3rem;
    width: 92%;
    font-size: 3.8vw;
  }
  @media (max-width: 500px) {
    display: flex;
    justify-content: space-between;
  }
  .nav-list-logo {
    font-family: "Steelfish";
    font-size: min(2.4rem, 2vw);
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 0.21rem;
    margin-left: 1rem;
    @media (max-width: 1024px) {
      font-size: 3.8vw;
      margin-left: 2rem;
    }
    a {
      transition: color 0.3s ease-in-out;
      text-decoration: none;
      &:hover {
        color: var(--color4);
      }
    }
  }

  .nav-list-profile {
    display: flex;
    font-size: min(1.9rem, 1.6vw);
    align-items: center;
    margin-top: 0.4rem;
    justify-content: space-around;
    grid-column: 4 / span 2;
    grid-row: 1;
    @media (max-width: 1024px) {
      grid-column: 4;
      font-size: 3vw;
    }
    @media (max-width: 500px) {
      display: none;
    }
  }

  .nav-list-menu-search {
    display: flex;
    align-items: center;
    font-size: min(1.9rem, 1.6vw);
    margin-top: 0.4rem;
    grid-column: 2;
    justify-content: space-between;
    @media (max-width: 1024px) {
      font-size: 3vw;
    }
    @media (max-width: 500px) {
      width: 30%;
    }
  }
}
